# ignore compiled files
*.pyc
*.pkl
*.1D
*.png
*.csv
C:\Users\ויקי\Desktop\ABCD_project\cognitive_tests_algorithms\cv_folder
C:\Users\ויקי\Desktop\ABCD_project\gordon_correlations_algorithms\cv_folder
C:\Users\ויקי\Desktop\ABCD_project\Time_series_algorithms\Test